@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Bubbles&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
  color: black;
  list-style: none;
}
*::-moz-selection {
  background-color: white;
}
*::selection {
  background-color: white;
}
* a {
  list-style: none;
  text-decoration: none;
  color: black;
}

header {
  background-size: 100vh;
  background-color: #645949;
}
header .Logo {
  background-color: #645949;
}
header .navbar {
  border: solid #645949 0.9rem;
  font-weight: bolder;
}

main {
  background-color: rgb(186, 168, 136);
  background-size: 100vh;
  padding: 2rem;
}
main .recomendado {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
  padding: 1rem;
}
main .fila1, main .fila2, main .fila3, main .fila4, main .fila5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 900px) {
  main .fila1, main .fila2, main .fila3, main .fila4, main .fila5 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
main .zapatilla1, main .zapatilla2, main .zapatilla3, main .zapatilla4, main .zapatilla5, main .zapatilla6, main .zapatilla7, main .zapatilla8, main .zapatilla9, main .zapatilla10, main .zapatilla11, main .zapatilla12, main .zapatilla13, main .zapatilla14, main .zapatilla15, main .zapatilla16 {
  background-color: #9D8D73;
  border: 10px solid #645949;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
main .titulozapatilla1, main .titulozapatilla2, main .titulozapatilla3, main .titulozapatilla4, main .titulozapatilla5, main .titulozapatilla6, main .titulozapatilla7, main .titulozapatilla8, main .titulozapatilla9, main .titulozapatilla10, main .titulozapatilla11, main .titulozapatilla12, main .titulozapatilla12, main .titulozapatilla13, main .titulozapatilla14, main .titulozapatilla15, main .titulozapatilla16 {
  font-weight: bolder;
  font-size: medium;
  border: 10px solid #645949;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  font-family: "Roboto";
}
main .precio1, main .precio2, main .precio3, main .precio4, main .precio5, main .precio6, main .precio7, main .precio8, main .precio9, main .precio10, main .precio11, main .precio12, main .precio13, main .precio14, main .precio15, main .precio16 {
  font-weight: bolder;
  font-size: medium;
  border: 10px solid #645949;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
main .imagenes-zapatillas {
  background-color: transparent;
  width: 13rem;
}

footer {
  background-color: #645949;
  background-size: 100vh;
  padding: 2rem;
  text-decoration: none;
  list-style: none;
}
footer .titulosfooter {
  font-size: larger;
  font-weight: bolder;
  list-style: none;
}

.mapas {
  display: flex;
  justify-content: space-around;
  gap: 0.75rem;
}
@media screen and (max-width: 900px) {
  .mapas {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.tienda1 {
  padding: 2rem;
}

.tienda {
  text-decoration: underline;
}

.history p, .vision p, .mission p {
  line-height: 1.5;
}

.vision-mission {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .vision-mission {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.vision, .mission {
  margin-right: 20px;
}

.video123 {
  width: 50rem;
  border: solid black 0.5rem;
}

.videoalineacioncentrada {
  display: flex;
  justify-content: center;
}

.politicas {
  font-weight: 900;
}

.contactanos {
  font-weight: bolder;
}/*# sourceMappingURL=estilos.css.map */