
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Bubbles&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    
}

a { 
text-decoration: none;
color: black;
}

header {
    
    background-size: 100vh;
}



main {
    background-color: rgb(186, 168, 136, 63);
    background-size: 100vh;
    padding: 2rem;
}

footer{
    background-color:#645949;
background-size: 100vh;
padding: 2rem;
}
.menu {
    
    list-style: none;

    display: flex;

flex-direction: reverse;

flex-wrap: wrap;

justify-content: space-evenly;
gap: 1rem;


}

.navbar {
    
    border: solid #645949 0.90rem;
    font-weight: bolder;
    
    
}

.item-productos, .itemnike, .itemadidas {
    list-style: none;
}


.headercenter {
    padding: 2%;
   
    background-color: rgb(186, 168, 136, 63)
}


.Logo {
   
    background-color: #645949;
   
}

.zapatilla1, .zapatilla2, .zapatilla3, .zapatilla4, .zapatilla5, .zapatilla6, .zapatilla7, .zapatilla8, .zapatilla9, .zapatilla10, .zapatilla11, .zapatilla12, .zapatilla13, .zapatilla14, .zapatilla15, .zapatilla16 {
    background-color: #9D8D73;
    border: 10px solid #645949;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;

    text-align: center;
    
}

.titulozapatilla1, .titulozapatilla2, .titulozapatilla3, .titulozapatilla4, .titulozapatilla5, .titulozapatilla6, .titulozapatilla7, .titulozapatilla8, .titulozapatilla9, .titulozapatilla10, .titulozapatilla11, .titulozapatilla12, .titulozapatilla12, .titulozapatilla13, .titulozapatilla14, .titulozapatilla15, .titulozapatilla16 {
    font-weight: bolder;
    font-size: medium;
    border: 10px solid #645949;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    font-family:'Roboto';
    
   
}

.precio1, .precio2, .precio3, .precio4, .precio5, .precio6, .precio7, .precio8, .precio9, .precio10, .precio11, .precio12, .precio13, .precio14, .precio15, .precio16 {
    font-weight: bolder;
    font-size: medium;
    border: 10px solid #645949;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
} 




.imagenes-zapatillas {
    background-color: transparent;
    width: 13rem;
}

.fila1, .fila2, .fila3, .fila4, .fila5 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;}




.prod {
    font-weight: 900;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
}


.titulo {
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem;
    text-align: left;
}

.recomendado {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
    padding: 1rem;
    
}

.mapas{
    display: flex;
    justify-content: space-around;

    gap: 0.75rem;
}
.tienda1{
    padding: 2rem;
}

.tienda {
    text-decoration: underline;
}
.history p, .vision p, .mission p {
    line-height: 1.5;
}

.vision-mission {
    display: flex;
    justify-content: space-between;
}

.vision, .mission {
    flex: ;
    margin-right: 20px;
}
.video123 {
    width: 50rem;
    border: solid black 0.5rem;
   
}
.videoalineacioncentrada {
    display: flex;
    justify-content: center;
}

.contactanos {
    font-weight: bolder;

}
.titulosfooter {
    font-size: larger;
    font-weight: bolder;
}

@media (max-width: 900px) {
    .fila1, .fila2, .fila3, .fila4, .fila5 {
        display: grid;
        grid-template-columns: 1fr  ;
    }
.vision-mission {
    display: grid;
    grid-template-columns: 1fr;
}
}
