footer{
    background-color:#645949;
    background-size: 100vh;
    padding: 2rem;
    text-decoration: none;
    list-style: none;
    
    .titulosfooter {
        font-size: larger;
        font-weight: bolder;
}
}