header {
    
    background-size: 100vh;
    background-color: #645949;
    
    .Logo {
   
        background-color: #645949;
       
    }

    .navbar {
        
        border: solid #645949 0.90rem;
        font-weight: bolder;
        
        
    }
    
}