@media (max-width: 900px) {
    .fila1, .fila2, .fila3, .fila4, .fila5 {
        display: grid;
        grid-template-columns: 1fr  ;
    }
.vision-mission {
    display: grid;
    grid-template-columns: 1fr;
}
}
