.history p, .vision p, .mission p {
    line-height: 1.5;
    
}

.vision-mission {
    display: flex;
    justify-content: space-between;
    
    @include mobile {
        display: grid;
    grid-template-columns: 1fr;
    }
}

.vision, .mission {
    
    margin-right: 20px;
}
.video123 {
    width: 50rem;
    border: solid black 0.5rem;
   
}
.videoalineacioncentrada {
    display: flex;
    justify-content: center;
}